<div class="form_field">
<%= render partial: 'management/forms/recital_form',
           locals: {
                     view: @view,
                     recital: @recital
                   } %>
</div>
