<div class="form_field">
<%= render partial: 'management/forms/welcome_event_form',
           locals: {
                     view: @view,
                     welcome_event: @welcome_event
                   } %>
</div>
