.top-welcome_event_area{
    margin-top: 30px;
    text-align: center;
}

.top-welcome_event_area .top-welcome_event_events{
    max-width: 400px;
    border: 1px dotted;
    margin: 30px auto 0px;
    padding: 0px 10px;
}

.top-welcome_event_events h3{
    margin-top: 20px;
}

.top-welcome_event_events .event_description{
    margin-top: 20px;
    text-align: left;
}

.top-welcome_event_events h4{
    margin: 20px auto 10px;
}

.top-welcome_event_events table{
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

.top-welcome_event_events table tr{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #a0a0a0;
}

.top-welcome_event_events table tr td{
    height: 40px;
    border: none;
}

.top-welcome_event_events .event_detail{
    margin: 20px 10px;
    height: 40px;
    background-color: #C9E8F1;
}

.top-welcome_event_events .event_detail a{
    display: block;
    padding: 8px;
}
