.headline_topics{
    text-align: center;
}
.menu_area{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5%;
    max-height: 30px;
    width: 100vw;
    background: rgba(0,81,103,1);
    cursor: pointer;
    animation: menu_fadein 2.1s ease-in-out;
}
@keyframes menu_fadein{
    0%{
        transform: translateY(150px);
    }

    80%{
        transform: translateY(150px);
    }

    100%{
        transform: translateY(0px);
    }
}
