<div class="form_field">
<%= render partial: 'management/forms/commentary_form',
           locals: {
                     view: @view,
                     commentary: @commentary
                   } %>
</div>
